.courses {
  &__container {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    line-height: calc(33px / 24px);
  }
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.cours {
  position: relative;
  color: $colorTextTertiary;
  overflow: hidden;
  flex-basis: calc((100% - 15px) / 1);
  &__text {
    font-size: 24px;
    line-height: calc(32px / 24px);
    font-family: $fontTextSecondary;
  }
  &__btn {
    font-weight: 500;
    text-align: center;
    line-height: calc(19px / 14px);
    padding: 10px 20px;
    background-color: $colorTextPrimary;
    border-radius: 20px;
    color: $colorTextTertiary;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(38px / 28px);
  }
  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 38px 18px 20px 18px;
    background-color: rgba(255, 113, 91, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateY(-101%);
    transition: linear 500ms;
  }
  &:hover .overlay {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.visible {
  position: relative;
}

.courses__input {
  padding: 10px;
  width: 100%;
  border: 1px solid $colorBorders;
  border-radius: 30px;
  margin-bottom: 20px;
}

@media (min-width: 575px) {
  .courses {
    &__container {
      margin-bottom: 70px;
    }
    &__title {
      line-height: calc(49px / 36px);
    }
    &__cards {
      gap: 45px;
    }

    &__input {
      font-size: 18px;
    }
  }
  .cours {
    flex-basis: calc((100% - 45px) / 1);
    &__text {
      font-size: 24px;
      line-height: calc(57px / 42px);
      line-height: auto;
    }
    &__btn {
      font-size: 20px;
      line-height: calc(27px / 20px);
      padding: 15px 17px;
    }
    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(49px / 36px);
      bottom: 25px;
      left: 30px;
    }
    &__overlay {
      padding: 45px 30px 35px 30px;
    }
  }
}
@media (min-width: 768px) {
  .courses {
    &__container {
      margin-bottom: 80px;
    }
    &__title {
      line-height: calc(44px / 32px);
    }
    &__cards {
      flex-direction: row;
      gap: 0px;
      row-gap: 70px;
      justify-content: space-between;
      width: 100%;
    }
    &__input {
      font-size: 22px;
      padding: 15px 25px;
    }
  }
  .cours {
    flex-basis: calc((100% - 110px) / 2);
    &__text {
      font-size: 20px;
      line-height: calc(26px / 20px);
    }
    &__btn {
      font-size: 16px;
      line-height: calc(22px / 16px);
      padding: 14px 15px;
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: calc(33px / 24px);
      bottom: 30px;
      left: 20px;
    }
    &__overlay {
      padding: 30px 22px 22px 22px;
    }
  }
}
@media (min-width: 1240px) {
  .courses {
    &__container {
      margin-bottom: 110px;
    }
    &__title {
      line-height: calc(57px / 42px);
    }
    &__cards {
      row-gap: 55px;
    }
  }
  .cours {
    flex-basis: calc((100% - 150px) / 4);
    &__text {
      font-size: 18px;
      line-height: calc(27px / 20px);
    }
    &__btn {
      font-size: 16px;
      line-height: calc(22px / 16px);
      padding: 12px 15px;
    }
    &__title {
      font-size: 20px;
      line-height: calc(27px / 20px);
      bottom: 14px;
      left: 14px;
    }
    &__overlay {
      padding: 15px;
    }
  }
}
@media (min-width: 1920px) {
  .courses {
    &__container {
      margin-bottom: 130px;
    }
    &__title {
      line-height: calc(65px / 48px);
    }
    &__cards {
      row-gap: 85px;
    }
    &__input {
      font-size: 24px;
      padding: 20px 35px;
    }
  }
  .cours {
    flex-basis: calc((100% - 210px) / 4);
    &__text {
      font-size: 24px;
      line-height: calc(32px / 24px);
    }
    &__btn {
      font-size: 18px;
      line-height: calc(25px / 18px);
      padding: 20px 44px;
    }
    &__title {
      font-size: 28px;
      line-height: calc(38px / 28px);
      bottom: 25px;
      left: 27px;
    }
    &__overlay {
      padding: 15px;
    }
  }
}
