html {
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

body {
  overflow-x: hidden;
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 14px;
  color: $colorTextPrimary;
  position: relative;
  background: url(/src/images/cooperation/green-round.svg),
    url(/src/images/cooperation/green-round.svg),
    url(/src/images/cooperation/blue-round.svg),
    url(/src/images/cooperation/blue-round.svg);
  background-repeat: no-repeat;
  background-size: 200px, 250px, 300px, 500px;
  background-position-y: bottom 4%, bottom 25%, bottom 30%, bottom 50%;
  background-position-x: right, right, left, left;
  overflow-x: hidden;
}

.container {
  min-width: 320px;
  max-width: 1550px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.button {
  background-color: $colorTextActive;
  border-radius: 15px;
  color: $colorTextTertiary;
  cursor: pointer;
}

.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

button {
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

section {
  overflow-x: hidden;
}

@media (min-width: 320px) {
  .title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: $colorTextTitles;
    margin-bottom: 20px;
  }
  .container {
    padding-inline: 15px;
  }
}

@media (min-width: 575px) {
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .container {
    padding-inline: 25px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    margin-bottom: 35px;
  }
  .container {
    padding-inline: 35px;
  }
}

@media (min-width: 1240px) {
  .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .container {
    padding-inline: 75px;
  }
}

@media (min-width: 1920px) {
  .title {
    margin-bottom: 55px;
    font-size: 48px;
  }
  .container {
    padding-inline: 0px;
  }
}
