html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 14px;
  color: $colorTextPrimary;
  position: relative;
}

.container {
  min-width: 320px;
  max-width: 1550px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.button {
  background-color: $colorTextActive;
  border-radius: 15px;
  color: $colorTextTertiary;
}

.hidden {
  display: none;
  transition: display 1s ease-in;
}
.no-scroll {
  overflow: hidden;
}

button {
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@media (min-width:320px) {
  .title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: $colorTextTitles;
    margin-bottom: 20px;
  }
}

@media (min-width:567px){
  .title{
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media (min-width:768px){
  .title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

@media (min-width:1240px){
  .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
}

@media (min-width:1920px){
  .title {
    margin-bottom: 55px;
    font-size: 48px;
  }
}