html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 14px;
  color: $colorTextPrimary;
}

.container {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
