.about-us {
  margin-top: 20px;
  &__container {
    padding-inline: 15px;
    padding-top: 40px;
    margin-bottom: 60px;
    background: transparent;

    background-image: url(/src/images/about-us/pencil-case.svg),
      url(/src/images/about-us/book-apple.svg),
      url(/src/images/about-us/book-ruler.svg),
      url(/src/images/about-us/backboard.svg),
      url(/src/images/about-us/light-blue-1.png),
      url(/src/images/about-us/light-blue-right.png),
      url(/src/images/about-us/circle.svg), url(/src/images/about-us/circle.svg);

    background-repeat: no-repeat;
    background-size: 70px, 70px, 80px, 70px, 100%, 100%, 27px, 27px;
    background-position-x: right, left, left, right, left, right, right 15%,
      left 15%;
    background-position-y: top 10%, top, bottom 25%, bottom, top -10%, top,
      center, center;
  }

  &__title {
    @extend %titlesMobile;
    margin-bottom: 20px;
  }

  &__paragraph {
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    text-align: center;
  }
}

.paragraphs__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
