@import './mobile-menu';
.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 0.5px solid $colorBorders;
    z-index: 999;
  }

  &__logo {
    z-index: 10000;
  }
}

.menu-open .nav__list {
  border-bottom: 0.5px solid $colorBorders;
}

.links {
  &__link {
    font-family: $fontTextMobileHeader;
    font-size: 36px;
  }
}

.nav-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  &__login {
    align-self: center;
    gap: 10px;
    display: flex;
  }

  &__socialmedia {
    display: flex;
    gap: 30px;
  }
}

.log-in {
  &__link {
    color: $colorTextTertiary;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  &__svg {
    fill: $colorTextTertiary;
  }
}

.socialmedia {
  &__svg {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 566px) {
  .header {
    &__container {
      padding: 25px;
    }
  }

  .links__link {
    font-size: 40px;
  }

  .log-in__link {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header {
    &__container {
      padding: 35px;
    }
  }

  .links__link {
    font-size: 40px;
  }

  .log-in__link {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .menu {
    padding-top: 138px;
  }
}

@media (min-width: 566px) and(max-width: 1024px) {
  .nav__list {
    padding-inline: 35px;
  }
  .menu {
    padding-top: 183px;
  }
}

@media (min-width: 768px) and(max-width: 1024px) {
}

@media (min-width: 1024px) {
  .socialmedia {
    display: none;
  }

  .links__link {
    font-size: 14px;
  }

  .header {
    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      padding-inline: 30px;
    }

    &__nav {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }

  .nav__wrapper {
    display: flex;
    align-content: center;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .log-in__link {
    color: $colorTextPrimary;
  }

  .menu__list {
    flex-direction: row;
  }

  .log-in__svg {
    fill: $colorTextPrimary;
  }
}
