@import './mobile-menu';
.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 0.5px solid $colorBorders;
  }

  &__logo {
    z-index: 10000;

    &-text {
      display: none;
    }
  }
}

.menu-open .nav__list {
  border-bottom: 0.5px solid $colorBorders;
}

.links {
  &__link {
    font-family: $fontTextMobileHeader;
    font-size: 36px;
  }
}

.nav-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  &__login {
    align-self: center;
    gap: 10px;
    display: flex;
  }

  &__socialmedia {
    display: flex;
    gap: 30px;
  }
}

.log-in {
  &__link {
    color: $colorTextTertiary;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    display: flex;

    &::after {
      content: '';
      width: 0.5px;
      height: 100%;
      border: 0.5px solid $colorLoginInput;
      display: none;
    }
  }
  &__svg {
    fill: $colorTextTertiary;
    display: none;
  }
}

.socialmedia {
  &__svg {
    width: 32px;
    height: 32px;
  }
}

.find__search-box {
  border-radius: 5px;
}

.header__find {
  position: relative;
}
.search-box {
  position: absolute;
  top: 200%;
  right: 0;
  width: 300px;
  background-color: $colorTextTertiary;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &.menu-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid $colorBorders;
    border-radius: 5px;
  }
  &__input {
    flex: 1;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    font-size: 12px;
    color: $colorTextSecondary;
  }
}

.search-box ul {
  border-top: 1px solid $colorBorders;
  padding: 10px 15px;
}

.search-box ul li {
  border-radius: 3px;
  cursor: pointer;
  padding: 15px 10px;
  &:hover {
    background-color: $colorBorders;
  }
}

@media (min-width: 575px) {
  .links__link {
    font-size: 40px;
  }

  .log-in__link {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .links__link {
    font-size: 40px;
  }

  .log-in__link {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .menu {
    padding-top: 138px;
  }
}

@media (min-width: 566px) and (max-width: 1024px) {
  .nav__list {
    padding-inline: 35px;
  }
  .menu {
    padding-top: 183px;
  }
}

@media (min-width: 1024px) {
  .socialmedia {
    display: none;
  }

  .links__link {
    font-size: 14px;

    font-family: $fontTextPrimary;
  }

  .log-in__link {
    &::after {
      display: flex;
    }
  }

  .header {
    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      padding-inline: 30px;
    }

    &__nav {
      display: flex;
      flex-grow: 1;
    }
  }

  .nav__wrapper {
    display: flex;
    align-content: center;
    flex-grow: 1;
    justify-content: center;
  }

  .nav__list {
    display: flex;
    flex-grow: 1;
  }

  .log-in__link {
    color: $colorTextPrimary;
  }

  .menu__list {
    flex-direction: row;
    gap: 25px;
  }

  .log-in__svg {
    fill: $colorTextPrimary;
    display: flex;
  }

  .log-in__container {
    border-radius: 5px;
  }

  .header__logo {
    display: flex;
    align-items: center;
    gap: 15px;
    &-text {
      display: flex;
      font-size: 30px;
      font-weight: 500;
    }
  }
}

@media (min-width: 1240px) {
  .links__link {
    font-size: 16px;
  }
  .log-in__link {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .links__link {
    font-size: 18px;
  }
  .log-in__link {
    font-size: 18px;
  }

  .header__logo {
    font-size: 36px;
  }
}
