.nav__btn {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 1023px) {
  .btn-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
  }

  .btn-menu__icon,
  .btn-menu__icon::before,
  .btn-menu__icon::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $colorTextPrimary;
    transition: transform 0.3s ease-in 0.3s;
    transition: top 0.1s ease-in;
    z-index: 1000;
  }

  .btn-menu__icon {
    top: calc(50% - 1px);
  }

  .btn-menu__icon::after {
    top: 8px;
  }

  .btn-menu__icon::before {
    top: -8px;
  }
  .nav__list {
    display: none;
  }

  .menu-open .btn-menu__icon::before,
  .menu-open .btn-menu__icon::after {
    top: 0;
  }

  .menu-open .btn-menu {
    padding: 15px;
  }

  .menu-open .btn-menu__icon {
    transform: rotate(-45deg);
  }

  .menu-open .btn-menu__icon::after {
    transform: rotate(90deg);
  }

  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 40px 26px;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 113, 91, 0.6) 100%
    );
    background-color: $colorTextTertiary;
    flex-direction: column;
    row-gap: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    justify-content: space-between;
    z-index: 999;
  }

  .menu-open .nav__list {
    transform: translateX(0);
  }

  .socialmedia {
    opacity: 0;
  }

  .menu-open .socialmedia {
    opacity: 1;
  }
}

.links__link {
  transition: border-radius 350ms ease-in-out, color 250ms ease-in-out;
  &:hover {
    color: $colorTextActive;
  }
}
.links__item {
  &::after {
    content: '';
    width: 0;
    height: 2px;
    color: $colorTextActive;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &:hover::after {
    width: 100%;
  }
}

.nav__link--opened,
.links__link--opened {
  color: $colorTextActive;
}

@media (min-width: 768px) {
  .nav__list {
    width: 50%;
  }

  .menu-open::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.352); /* Колір для неактивної частини */
    z-index: 998;
    animation: showBackground 0.2s ease-in;
    animation-fill-mode: both;
  }
}

@keyframes showBackground {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@media (max-width: 1024px) {
  .contacts__item::before {
    display: none;
  }
}

@media (min-width: 1025px) {
  .menu__list {
    flex-direction: row;
    align-items: center;
  }

  .header {
    display: flex;
  }

  .menu {
    justify-content: space-between;
  }
}
