%buttonAnimation {
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

%titlesMobile {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: $colorTextTitles;
}
%titles576px {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: $colorTextTitles;
}

%titles768px {
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  color: $colorTextTitles;
}
%titlesDesktop {
  font-size: 48px;
}
