// colors
$colorTextPrimary: #000010;
$colorTextSecondary: #a79997;
$colorTextTertiary: #ffffff;
$colorTextTitles: #2c2c2c;
$colorTextAccent: #ff715b;

// fonts
$fontTextPrimary: 'Noto Sans', sans-serif;
$fontTextSecondary: 'Open Sans', sans-serif;
$fontTextLogo: 'Bodoni Moda', serif;
$fontTextMobileHeader: 'Comfortaa', sans-serif;
