// colors
$colorTextPrimary: #000010;
$colorTextSecondary: #a79997;
$colorTextTertiary: #ffffff;
$colorTextTitles: #2c2c2c;
$colorTextActive: #ff715b;
$colorBorders: #c8c8c8;
$colorInputs: #f5ebe9;
$colorBackground: #f8f8f8;
$colorLoginInput: #c4c4c4;
// fonts
$fontTextPrimary: 'Noto Sans', sans-serif;
$fontTextSecondary: 'Open Sans', sans-serif;
$fontTextLogo: 'Bodoni Moda', serif;
$fontTextMobileHeader: 'Comfortaa', sans-serif;
