.contact {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 15px;
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: $colorTextTitles;
    margin-bottom: 20px;
  }
  &__map {
    width: 290px;
    border-radius: 10px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__contacs {
    max-width: 290px;
  }
}
.contacs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 4px 0 6px 0 rgba(0, 0, 0, 0.15),
    -5px 0 6px 0 rgba(0, 0, 0, 0.15), 0 -4px 6px 0 rgba(0, 0, 0, 0.15);
  background: $colorTextTertiary;
  position: relative;
  padding: 10px 37px 51px 10px;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  max-width: 127px;
  padding: 4px 10px;
  background-color: $colorTextPrimary;
  border-radius: 0 12px 12px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-icon {
  &__svg {
    max-width: 16px;
    max-height: 16px;
  }
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  line-height: 1.4;
  &__label {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: $colorTextTitles;
  }
  &__information {
    font-weight: 400;
    font-size: 10px;
    font-family: $fontTextSecondary;
    color: $colorTextSecondary;
  }
}
@media (min-width: 576px) {
  .contact {
    &__container {
      padding-inline: 25px;
      margin-bottom: 70px;
    }
    &__title {
      margin-bottom: 18px;
    }
    &__subtitle {
      margin-bottom: 32px;
      font-size: 32px;
    }
    &__map {
      width: 506px;
    }
    &__wrapper {
      gap: 35px;
    }
    &__contacs {
      max-width: 506px;
    }
  }
  .contacs {
    max-width: 506px;
    padding: 25px 28px 96px 30px;
    &__card {
      gap: 15px;
    }
  }
  .adress {
    gap: 5px;
    &__label {
      font-size: 28px;
    }
    &__information {
      font-size: 18px;
    }
  }
  .contact-icons {
    gap: 25px;
    max-width: 214px;
    padding: 11px 12px;
  }
  .contact-icon {
    &__svg {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__container {
      padding-inline: 35px;
      margin-bottom: 80px;
    }
    &__subtitle {
      margin-bottom: 50px;
      font-size: 36px;
    }
    &__map {
      width: 680px;
    }
    &__wrapper {
      gap: 50px;
    }
    &__contacs {
      max-width: 680px;
    }
  }
  .contacs {
    padding: 34px 57px 130px 34px;
    &__card {
      gap: 20px;
    }
  }
  .adress {
    gap: 7px;
    &__label {
      font-size: 32px;
    }
    &__information {
      font-size: 24px;
    }
  }
  .contact-icons {
    gap: 35px;
    max-width: 288px;
    padding: 15px 16px;
  }
  .contact-icon {
    &__svg {
      max-width: 37px;
      max-height: 37px;
    }
  }
}

@media (min-width: 1240px) {
  .contact {
    &__container {
      padding-inline: 70px;
      margin-bottom: 110px;
    }
    &__subtitle {
      margin-bottom: 106px;
      font-size: 32px;
    }
    &__map {
      width: 50%;
    }
    &__wrapper {
      flex-direction: row;
      gap: 85px;
      width: 100%;
      justify-content: center;
    }
    &__contacs {
      width: 50%;
    }
  }
  .contacs {
    padding: 23px 27px 111px 22px;
    &__card {
      gap: 14px;
    }
  }
  .adress {
    gap: 6px;
    &__label {
      font-size: 24px;
    }
    &__information {
      font-size: 18px;
    }
  }
  .contact-icons {
    gap: 25px;
    max-width: 224px;
    padding: 8px 16px;
  }
  .contact-icon {
    &__svg {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

@media (min-width: 1920px) {
  .contact {
    &__container {
      margin-bottom: 130px;
      padding: 0;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 54px;
      font-size: 36px;
    }
    &__wrapper {
      width: 100%;
    }
    &__map {
      width: 50%;
    }
    &__wrapper {
      gap: 100px;
    }
    &__contacs {
      width: 50%;
    }
  }
  .contacs {
    padding: 27px 21px 118px 30px;
    &__card {
      gap: 30px;
    }
  }
  .adress {
    gap: 0px;
    &__label {
      font-size: 32px;
    }
    &__information {
      font-size: 24px;
    }
  }
  .contact-icons {
    gap: 30px;
    max-width: 256px;
    padding: 8px 20px;
  }
  .contact-icon {
    &__svg {
      max-width: 32px;
      max-height: 32px;
    }
  }
}
