.footer {
  &__container {
    padding: 21px 15px 40px 15px;
    border-top: 0.5px solid $colorBorders;
  }
  &__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    font-size: 10px;
    color: $colorTextSecondary;
    margin-bottom: 10px;
    font-family: $fontTextSecondary;
  }
  &--another-color {
    color: $colorTextActive;
  }
  &__list-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
    color: $colorTextSecondary;
    font-family: $fontTextSecondary;
  }
  &__contacts {
    display: flex;
    gap: 8px;
    &::before {
      content: '';
      background-image: url(/src/images/footer/phone.svg);
      width: 11px;
      height: 13px;
      background-repeat: no-repeat;
    }
  }
  &__svg {
    max-height: 12px;
    max-width: 12px;
  }
  &__logo {
    margin-bottom: 5px;
  }
  &__sponsors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  &__agreement {
    font-weight: 500;
    font-size: 10px;
    color: $colorTextSecondary;
    text-align: center;
  }
  &__form {
    margin-bottom: 14px;
  }
}
.logo {
  display: flex;
  align-items: center;
  &__image {
    max-width: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
  }
}
.sponsor {
  &__svg {
    max-height: 15px;
  }
}
.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  &__title {
    color: $colorTextTitles;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  &__input {
    padding: 14px 60px 14px 16px;
    border: 1px solid $colorBorders;
  }
  &__btn {
    padding: 10px 14px;
    font-weight: 500;
    font-size: 12px;
    background-color: $colorTextActive;
    color: $colorTextTertiary;
  }
}

.footer__contact--email::before {
  background-image: url(/src/images/footer/email.svg);
}

.footer__contact--site::before {
  background-image: url(/src/images/footer/location.svg);
}
@media (min-width: 576px) {
  .footer {
    &__container {
      padding: 20px 35px;
    }
    &__information {
      margin-bottom: 60px;
    }
    &__text {
      font-size: 18px;
      line-height: 144%;
      margin-bottom: 24px;
    }
    &__list-contacts {
      gap: 20px;
      font-size: 14px;
    }
    &__contacts {
      display: flex;
      gap: 14px;
      &::before {
        content: '';
        width: 17px;
        height: 17px;
      }
    }
    &__svg {
      max-height: 17px;
      max-width: 17px;
    }
    &__logo {
      margin-bottom: 5px;
    }
    &__sponsors {
      gap: 35px;
    }
    &__agreement {
      font-size: 12px;
    }
    &__form {
      margin-bottom: 7px;
    }
  }
  .logo {
    &__image {
      max-width: 68px;
    }
    &__text {
      font-size: 28px;
    }
  }
  .sponsor {
    &__svg {
      max-height: 33px;
    }
  }
  .mailing {
    align-items: flex-start;
    gap: 12px;
    &__title {
      font-size: 24px;
    }
    &__input {
      padding: 18px 200px 18px 25px;
    }
    &__btn {
      padding: 40px 20px;
      font-size: 18px;
    }
  }
}
@media (min-width: 768px) {
  .footer {
    &__container {
      padding: 20px 44px;
    }
    &__information {
      margin-bottom: 40px;
    }
    &__text {
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 20px;
    }
    &__list-contacts {
      gap: 16px;
      font-size: 16px;
    }
    &__contacts {
      gap: 15px;
      &::before {
        content: '';
        width: 22px;
        height: 22px;
      }
    }
    &__svg {
      max-height: 26px;
      max-width: 22px;
    }
    &__logo {
      margin-bottom: 20px;
    }
  }
  .logo {
    &__text {
      font-size: 32px;
    }
  }
  .mailing {
    &__input {
      padding: 18px 200px 18px 25px;
    }
    &__btn {
      padding: 40px 20px;
      font-size: 18px;
    }
  }
}
@media (min-width: 1240px) {
  .footer {
    &__container {
      padding: 70px 35px;
    }
    &__information {
      margin-bottom: 0px;
    }
    &__text {
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 20px;
    }
    &__list-contacts {
      gap: 16px;
      font-size: 16px;
    }
    &__contacts {
      gap: 15px;
      &::before {
        content: '';
        width: 23px;
        height: 23px;
      }
    }
    &__svg {
      max-height: 23px;
      max-width: 23px;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__form {
      margin-bottom: 0px;
    }
  }
  .mailing {
    align-items: flex-start;
    gap: 8px;
    &__input {
      padding: 14px 224px 14px 25px;
    }
  }
}
@media (min-width: 1920px) {
  .footer {
    &__container {
      padding: 120px 35px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__list-contacts {
      font-size: 18px;
    }
    &__contacts {
      gap: 15px;
    }
    &__logo {
      margin-bottom: 22px;
    }
  }
  .mailing {
    gap: 8px;
    &__input {
      padding: 18px 224px 18px 25px;
    }
  }
}
