.footer {
  &__container {
    padding: 21px 15px 40px 15px;
    border-top: 0.5px solid $colorBorders;
  }
  &__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    font-size: 10px;
    color: $colorTextSecondary;
    margin-bottom: 10px;
    font-family: $fontTextSecondary;
  }
  &--another-color {
    color: $colorTextActive;
  }
  &__list-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
    color: $colorTextSecondary;
    font-family: $fontTextSecondary;
  }
  &__contacts {
    display: flex;
    gap: 8px;
    &::before {
      content: '';
      background-image: url(/src/images/footer/phone.svg);
      width: 11px;
      height: 13px;
      background-repeat: no-repeat;
    }
  }
  &__svg {
    max-height: 12px;
    max-width: 12px;
  }
  &__logo {
    margin-bottom: 5px;
  }
  &__sponsors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  &__title {
    color: $colorTextTitles;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 17px;
  }
  &__agreement {
    font-weight: 500;
    font-size: 10px;
    color: $colorTextSecondary;
    text-align: center;
  }
  &__form {
    margin-bottom: 14px;
  }
}
.logo {
  display: flex;
  align-items: center;
  &__image {
    max-width: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
  }
}
.sponsor {
  &__svg {
    max-height: 15px;
  }
}
.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  &__input {
    padding: 14px 60px 14px 16px;
    border: 1px solid $colorBorders;
  }
  &__btn {
    padding: 10px 14px;
    font-weight: 500;
    font-size: 12px;
    background-color: $colorTextActive;
    color: $colorTextTertiary;
  }
}

.footer__contact--email::before {
  background-image: url(/src/images/footer/email.svg);
}

.footer__contact--site::before {
  background-image: url(/src/images/footer/location.svg);
}
