.calendar{
  &__container{
    padding-inline: 15px;
  }
  &__management{
    display: flex;
    justify-content: space-between;
  }
  &__svg{
    width: 28px;
    height: 28px;
  }
}
.mounths{
  padding: 2px 8px;
  background: $colorBackground;
  border: 2px solid $colorLoginInput;
  border-radius: 38px;

  &__mounth{
    font-weight: 500;
    font-size: 14px;
    color: $colorTextTitles;
  }
}
.table{
  display: flex;
  background: $colorBackground;
  border: 1px solid $colorTextPrimary;
  &__daysofweek{

  }
}