<section class="about-us" id="about-us">
  <div class="about-us__container container">
    <h2 class="about-us__title">Про нас</h2>
    <div class="paragraphs__container">
      <p class="about-us__paragraph">
        Цифрова Українська Школи - це місце де навіть найнудніший предмет
        перетворюється на цікавий, інтерактивний та повчальний квест. ЦУШ
        створена для того щоб учні будь яких класів не відчували складнощів та
        нудьги вивчаючи предмети такі як математика, хімія, фізика, іноземні
        мови та інші.
      </p>
      <p class="about-us__paragraph">
        Окрім звичайного загальноосвітнього рівня, учні гімназій та ліцеїв мають
        змогу обрати спеціалізований рівень предметів, для того щоб
        підготуватись до екзаменів, іспитів чи навіть наздогнати навчальну
        програму після незрозумілого уроку.
      </p>

      <p class="about-us__paragraph">
        ЦУШ - це платформа для цікавого навчання, збагаченого випробовуваннями,
        які не дають нашим учням нудьгувати.
      </p>
    </div>
  </div>
</section>
