<section class="advantages" id="advantages">
  <div class="advantages__container container">
    <div class="advantages__wrapper">
      <h2 class="advantages__title">
        Ми допомгли <span class="advantages--another-color">900+ учням</span> з
        підготовкою до <span class="advantages--another-color">навчання</span>
      </h2>
      <ul class="advantages__list advantage">
        <li class="advantage__information advantage--user">
          <p class="advantage__text">Індивідуальний підхід кожному учню</p>
        </li>
        <li
          class="advantage__information advantage__information--padding advantage--globe"
        >
          <p class="advantage__text advantage--information">
            Учень отримає сертифікат про закінчення нашої школи, який визнається
            у всьому світі
          </p>
        </li>
        <li
          class="advantage__information advantage__information--padding advantage--headphones"
        >
          <p class="advantage__text advantage--information">
            Наші вчителі завжди готові допомогти учню. Учень буквально має
            доступ та запрошується до контакту з вчителями 24/7
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
