<section class="calendar">
  <div class="calendar__container container">
    <div class="calendar__management">
      <svg class="calendar__svg calendar__plus">
        <use href="/src/images/icons.svg#plus"></use>
      </svg>
      <div class="calendar__switch">
        <svg class="calendar__svg calendar__arrow">
          <use href="/src/images/icons.svg#right-arrow"></use>
        </svg>
        <div class="calendar__mounths mounths">
          <a href="#" class="mounths__mounth">Грудень</a>
          <a href="#" class="mounths__mounth">Січень</a>
          <a href="#" class="mounths__mounth">Лютий</a>
          <a href="#" class="mounths__mounth">Березень</a>
          <a href="#" class="mounths__mounth">Квітень</a>
          <a href="#" class="mounths__mounth">Травень</a>
          <a href="#" class="mounths__mounth">Червень</a>
          <a href="#" class="mounths__mounth">Липень</a>
          <a href="#" class="mounths__mounth">Серпень</a>
          <a href="#" class="mounths__mounth">Вересень</a>
          <a href="#" class="mounths__mounth">Жовтень</a>
          <a href="#" class="mounths__mounth">Листопад</a>
        </div>
        <svg class="calendar__svg calendar__arrow">
          <use href="/src/images/icons.svg#left-arrow"></use>
        </svg>
      </div>
      <svg class="calendar__svg calendar__search">
        <use href="/src/images/icons.svg#search"></use>
      </svg>
    </div>
    <table class="calendar__table">
      <thead class="calendar__head">
        <th class="calendar__nameofday">Понеділок</th>
        <th class="calendar__nameofday">Вівторок</th>
        <th class="calendar__nameofday">Середа</th>
        <th class="calendar__nameofday">Четверг</th>
        <th class="calendar__nameofday">П'ятниця</th>
        <th class="calendar__nameofday">Субота</th>
        <th class="calendar__nameofday">Неділя</th>
      </thead>
      <tbody class="calendar__body">
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
      </tbody>
    </table>
  </div>
</section>
