<section class="calendar">
  <div class="calendar__container container">
    <div class="calendar__management">
      <svg class="calendar__svg calendar__plus">
        <use href="/src/images/icons.svg#plus"></use>
      </svg>
      <div class="calendar__switch">
        <svg class="calendar__svg calendar__right-arrow">
          <use href="/src/images/icons.svg#right-arrow"></use>
        </svg>
        <div class="calendar__mounth mounth">
          <a href="#" class="mounth__december">Грудень</a>
          <a href="#" class="mounth__january">Січень</a>
          <a href="#" class="mounth__february">Лютий</a>
          <a href="#" class="mounth__march">Березень</a>
          <a href="#" class="mounth__april">Квітень</a>
          <a href="#" class="mounth__may">Травень</a>
          <a href="#" class="mounth__june">Червень</a>
          <a href="#" class="mounth__july">Липень</a>
          <a href="#" class="mounth__august">Серпень</a>
          <a href="#" class="mounth__september">Вересень</a>
          <a href="#" class="mounth__oktober">Жовтень</a>
          <a href="#" class="mounth__november">Листопад</a>
        </div>
        <svg class="calendar__svg calendar__left-arrow">
          <use href="/src/images/icons.svg#left-arrow"></use>
        </svg>
      </div>
      <svg class="calendar__svg calendar__search">
        <use href="/src/images/icons.svg#search"></use>
      </svg>
    </div>
    <table class="calendar__table">
      <thead class="calendar__head">
        <th class="calendar__nameofday">Понеділок</th>
        <th class="calendar__nameofday">Вівторок</th>
        <th class="calendar__nameofday">Середа</th>
        <th class="calendar__nameofday">Четверг</th>
        <th class="calendar__nameofday">П'ятниця</th>
        <th class="calendar__nameofday">Субота</th>
        <th class="calendar__nameofday">Неділя</th>
      </thead>
      <tbody class="calendar__body">
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
        <th class="calendar__day"></th>
      </tbody>
    </table>
  </div>
</section>
