<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">Контакти</h2>
    <h3 class="contact__second-title">Контакти головного офісу ЦУШ</h3>
    <embed class="contact__map" src="/src/images/contact/map.jpg" type="img" />
    <div class="contact__contacs contacs">
      <ul class="contacs__card">
        <li class="contacs__category">
          <h4 class="contacs__title">Адреса:</h4>
          <p class="contacs__information">
            04116, Київ, пров. Тбіліський, буд. 4/10, офіс 117-А
          </p>
        </li>
        <li class="contacs__category">
          <h4 class="contacs__title">Телефони:</h4>
          <p class="contacs__information">+38 (067) 7 777 777</p>
          <p class="contacs__information">+38 (067) 8 888 888</p>
        </li>
        <li class="contacs__category">
          <h4 class="contacs__title">Пошта:</h4>
          <p class="contacs__information">info@cush.school</p>
        </li>
      </ul>
      <ul class="contact__icons contact-icons">
        <li class="contact-icons__icon contact-icon">
          <a href="#" class="contact-icon__link">
            <svg class="contact-icon__svg contact-icon__youtube">
              <use href="/src/images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="contact-icons__icon contact-icon">
          <a href="#" class="contact-icon__link">
            <svg class="contact-icon__svg contact-icon__telegram">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-icons__icon contact-icon">
          <a href="#" class="contact-icon__link">
            <svg class="contact-icon__svg contact-icon__instagram">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-icons__icon contact-icon">
          <a href="#" class="contact-icon__link">
            <svg class="contact-icon__svg contact-icon__facebook">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
