<section class="contact" id="contacts">
  <div class="contact__container">
    <h2 class="contact__title title">Контакти</h2>
    <h3 class="contact__subtitle">Контакти головного офісу ЦУШ</h3>
    <div class="contact__wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.14331912988!2d30.463993930593343!3d50.45382450755897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf82bb6ec559%3A0xf2eaec1b2b349f3!2sKyiv%20Zoo%20Ticket%20Booth!5e0!3m2!1sen!2sca!4v1721612681350!5m2!1sen!2sca"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="contact__map"
      ></iframe>
      <div class="contact__contacs contacs">
        <ul class="contacs__card">
          <li class="contacs__category adress">
            <h2 class="adress__label">Адреса:</h2>
            <p class="adress__information">
              04116, Київ, пров. Тбіліський, буд. 4/10, офіс 117-А
            </p>
          </li>
          <li class="contacs__category adress">
            <h2 class="adress__label">Телефони:</h2>
            <p class="adress__information">+38 (067) 7 777 777</p>
            <p class="adress__information">+38 (067) 8 888 888</p>
          </li>
          <li class="contacs__category adress">
            <h2 class="adress__label">Пошта:</h2>
            <p class="adress__information">info@cush.school</p>
          </li>
        </ul>
        <ul class="contact__icons contact-icons">
          <li class="contact-icons__icon contact-icon">
            <a href="#" class="contact-icon__link">
              <svg class="contact-icon__svg contact-icon__youtube">
                <use href="/src/images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="contact-icons__icon contact-icon">
            <a href="#" class="contact-icon__link">
              <svg class="contact-icon__svg contact-icon__telegram">
                <use href="/src/images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="contact-icons__icon contact-icon">
            <a href="#" class="contact-icon__link">
              <svg class="contact-icon__svg contact-icon__instagram">
                <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="contact-icons__icon contact-icon">
            <a href="#" class="contact-icon__link">
              <svg class="contact-icon__svg contact-icon__facebook">
                <use href="/src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
