<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">Контакти</h2>
    <h3 class="contact__second-title">Контакти головного офісу ЦУШ</h3>
    <div class="contact__wrapper">
      <div class="contact__photo">
        <img src="#" alt="map" class="contact__img" />
      </div>
      <ul class="contact__contacs contacs">
        <li class="contacs__category">Адреса:</li>
        <li class="contacs__information">
          04116, Київ, пров. Тбіліський, буд. 4/10, офіс 117-А
        </li>
        <li class="contacs__category">Телефони:</li>
        <li class="contacs__information">+38 (067) 7 777 777</li>
        <li class="contacs__information">+38 (067) 8 888 888</li>
        <li class="contacs__category">Пошта:</li>
        <li class="contacs__information">info@cush.school</li>
      </ul>
      <ul class="contact__icons">
        <li class="contact__icon icon-youtube">#</li>
        <li class="contact__icon icon-telegram">#</li>
        <li class="contact__icon icon-instagram">#</li>
        <li class="contact__icon icon-facebook">#</li>
      </ul>
    </div>
  </div>
</section>
