<section class="cooperation" id="coop">
  <div class="cooperation__container container">
    <h2 class="cooperation__title">Хочете стати нашим вчителем?</h2>
    <p class="cooperation__text">
      Цифрова Українська Школа не тільки надає знання багатьом, а також надає
      можливість молодим педагогам передати свої навчання та навички.
    </p>
    <p class="cooperation__text">
      Щоб стати викладачем в ЦУШ, необхідно виконати лише декулька простих
      кроків:
    </p>
    <ol class="cooperation__list">
      <li class="cooperation__step">Подати заявку</li>
      <li class="cooperation__step">
        Пройти проф-тестування для визначення кваліфікації
      </li>
      <li class="cooperation__step">Надати дані про вищу освіту</li>
      <li class="cooperation__step">
        Пройти 30-ти денний курс підготовки та випробовувальних уроків
      </li>
      <li class="cooperation__step">Скласти 20-ти хвилинний іспит</li>
    </ol>
    <p class="cooperation__text">
      Після успішного виконання усіх кроків викладач отримує сертифікат та може
      розпочинати навчати!
    </p>
    <button class="cooperation__btn" data-teacher-open>Стати вчителем</button>
  </div>
</section>
