<section class="courses">
  <div class="courses__container container">
    <h2 class="courses__title">Усі Курси</h2>
    <ul class="courses__cards">
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="math" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Математика</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="chemistry" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Хімія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="english" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Англійська мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="ukrainian" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Українська мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="ukrainian-history" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Історія України</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="geography" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Географія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="physics" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Фізика</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="biology" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Біологія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="german" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Німецька мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="ukranian literature" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Укр. література</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="psychology" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Психологія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
      <li class="courses__card cours">
        <div class="cours__visible visible">
          <div class="cours__photo">
            <img src="#" alt="world-history" class="cours__img" />
          </div>
          <div class="cours__darkening"></div>
          <h3 class="cours__title">Всесвітня історія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            It is a long established fact that a reader will be the distracted
            by the readable content of a page when looking at its layout from
            it.
          </p>
          <button class="cours__btn">Детальніше</button>
        </div>
      </li>
    </ul>
  </div>
</section>
