<section class="courses" id="courses">
  <div class="courses__container container">
    <h2 class="courses__title">Усі Курси</h2>
    <input
      type="text"
      id="searchInput"
      placeholder="Пошук курсів..."
      class="courses__input"
    />
    <div class="courses__slider">
      <ul class="courses__cards">
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/math.jpg"
                alt="math"
                class="cours__img"
              />
            </div>
            <h3 class="cours__title">Математика</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/chemistry.jpg"
                alt="chemistry"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Хімія</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/english.jpg"
                alt="english"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Англійська мова</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/ukranian.jpg"
                alt="ukrainian"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Українська мова</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/ukranian-history.jpg"
                alt="ukrainian-history"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Історія України</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/geography.jpg"
                alt="geography"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Географія</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/physics.jpg"
                alt="physics"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Фізика</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/biology.jpg"
                alt="biology"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Біологія</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/german.jpg"
                alt="german"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Німецька мова</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/literature.jpg"
                alt="ukranian literature"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Укр. література</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/phsihology.jpg"
                alt="psychology"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Психологія</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
        <li class="courses__card cours">
          <div class="cours__visible visible">
            <div class="cours__photo">
              <img
                src="/src/images/courses/worlg-history.jpg"
                alt="world-history"
                class="cours__img"
              />
            </div>

            <h3 class="cours__title">Всесвітня історія</h3>
          </div>
          <div class="cours__overlay overlay">
            <p class="cours__text">
              It is a long established fact that a reader will be the distracted
              by the readable content of a page when looking at its layout from
              it.
            </p>
            <button class="cours__btn">Детальніше</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
