<section class="courses" id="courses">
  <div class="courses__container container">
    <h2 class="courses__title title" data-aos="flip-up">Усі Курси</h2>
    <input
      type="text"
      id="searchInput"
      placeholder="Пошук курсів..."
      class="courses__input"
      data-aos="fade-down"
    />
    <ul class="courses__cards">
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source srcset="/src/images/courses/math.webp" type="image/webp" />
            <img src="/src/images/courses/math.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Математика</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Якщо у вас виникають складнощі з алгеброю, геометрію чи ж загальною
            математикою, наші викладачі допоможуть вам опанувати світ теорем та
            цифр.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/chemistry.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/chemistry.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Хімія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Для того щоб насолоджуватись експериментами та розуміти усі хімічні
            реакції не обов’язково бути видатним хіміком. Достатньо всього лиш
            пройти курс хімії в ЦУШ.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/english.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/english.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Англійська мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Do you speak English fifty-fifty? Наші викладачі допоможуть вам
            опанувати як академічну так і розмовну англійську з уроками мовлення
            та прослуховування.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/ukranian.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/ukranian.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Українська мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            ЦУШ з гордістю надає одні з найкращих уроків української мови в
            Україні. Вивчай мову незламних глибше з нашими курсами.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/ukranian-history.webp"
              type="image/webp"
            />
            <img
              src="/src/images/courses/ukranian-literature.jpg"
              alt="person"
            />
          </picture>
          <h3 class="cours__title">Історія України</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Не розрізняєте усіх князів? Не можете зорієнтуватися в походах
            козаків? Наші викладачі допоможуть вам вивчити історію України на
            найвищому рівні за допомогою ілюстрацій та інтерактивних методів.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/geography.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/geography.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Географія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Зануртесь у захоплюючий світ географії з нашими курсами! Досліджуйте
            різноманітні кліматичні зони, рельєф та ресурси Землі, зрозумійте
            глобальні процеси і впливи на навколишнє середовище.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/physics.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/psyhology.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Фізика</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Відчуйте магію фізичних законів на практиці! Наші заняття з фізики
            допоможуть вам зрозуміти принципи механіки, електромагнетизму та
            термодинаміки. Розвивайте свої навички розв’язання задач та
            експериментування з фізичними явищами.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/biology.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/biology.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Біологія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Вивчайте життя в усіх його проявленнях! Наші курси біології
            охоплюють від основ клітинної біології до складних екосистем.
            Розкрийте таємниці живих організмів, їхню анатомію, фізіологію та
            еволюцію разом з нашими викладачами.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/biology.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/biology.jpg" alt="person" />
          </picture>
          <h3 class="cours__title">Німецька мова</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Вивчайте німецьку мову з нашими курсами та відкрийте для себе нові
            можливості! Наші викладачі допоможуть вам освоїти як основи
            граматики, так і розмовну практику. Поглибте свої знання німецької
            мови через інтерактивні уроки та мовлення.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/ukranian-literature.webp"
              type="image/webp"
            />
            <img
              src="/src/images/courses/ukranian-literature.jpg"
              alt="person"
            />
          </picture>

          <h3 class="cours__title">Укр. література</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Пориньте у багатий світ української літератури! Наші курси
            допоможуть вам краще зрозуміти творчість видатних українських
            авторів, їхній стиль та внесок у літературну спадщину. Аналізуйте
            шедеври української літератури і відкрийте для себе нові грані
            рідного слова.
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/psyhology.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/psyhology.jpg" alt="person" />
          </picture>

          <h3 class="cours__title">Психологія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Відкрийте для себе таємниці людської поведінки! Наші курси
            психології охоплюють основи психічного розвитку, мотивації,
            міжособистісних відносин і багато іншого. Вивчайте поведінкові
            патерни і процеси мислення разом з нами!
          </p>
        </div>
      </li>
      <li class="courses__card cours" data-aos="zoom-in">
        <div class="cours__visible visible">
          <picture class="cours__photo">
            <source
              srcset="/src/images/courses/word-history.webp"
              type="image/webp"
            />
            <img src="/src/images/courses/word-history.jpg" alt="person" />
          </picture>

          <h3 class="cours__title">Всесвітня історія</h3>
        </div>
        <div class="cours__overlay overlay">
          <p class="cours__text">
            Відкрийте для себе таємниці людської поведінки! Наші курси
            психології охоплюють основи психічного розвитку, мотивації,
            міжособистісних відносин і багато іншого. Вивчайте поведінкові
            патерни і процеси мислення разом з нашими викладачами.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
