<footer class="footer">
  <div class="footer__container container">
    <div class="footer__information">
      <div class="footer__wrapper">
        <div class="footer__logo logo">
          <div class="logo__photo">
            <img src="#" alt="logo" class="logo__image" />
          </div>
          <span class="logo__text">ЦУШ</span>
        </div>
        <p class="footer__text">
          <span class="footer__another-color">Ц</span>ифрова
          <span class="footer__another-color">У</span>країнська
          <span class="footer__another-color">Ш</span>кола
        </p>
        <ul class="footer__list-contacts">
          <li class="footer__contacts">
            <!--svg-->
            <p class="footer__contact">+38 (067) 8 888 888</p>
          </li>
          <li class="footer__contacts">
            <!--svg-->
            <p class="footer__contact">info@cush.school</p>
          </li>
          <li class="footer__contacts">
            <!--svg-->
            <p class="footer__contact">www.yourwebsitename.com</p>
          </li>
        </ul>
      </div>
      <ul class="footer__sponsors">
        <li class="footer_sponsor sponsor">
          <div class="sponsor__photo">
            <img src="#" alt="GoItins" class="sponsor__img" />
          </div>
        </li>
        <li class="footer_sponsor sponsor">
          <div class="sponsor__photo">
            <img src="#" alt="Google" class="sponsor__img" />
          </div>
        </li>
        <li class="footer_sponsor sponsor">
          <div class="sponsor__photo">
            <img src="#" alt="Microsoft" class="sponsor__img" />
          </div>
        </li>
        <li class="footer_sponsor sponsor">
          <div class="sponsor__photo">
            <img src="#" alt="WordPress" class="sponsor__img" />
          </div>
        </li>
      </ul>
    </div>
    <form action="#" class="footer__form mailing">
      <input
        type="email"
        id="mailing-email"
        name="email"
        class="mailing__input"
        placeholder="E-Mail"
      />
      <button class="mailing__btn">Підписатись</button>
    </form>
  </div>
</footer>
