<footer class="footer">
  <div class="footer__container container">
    <div class="footer__information" data-aos="fade-up">
      <div class="footer__wrapper">
        <div class="footer__logo logo">
          <a href="#" class="logo__link">
            <img
              src="/src/images/header/cush-logo.svg"
              alt="logo"
              class="logo__image"
            />
          </a>
          <h2 class="logo__text">ЦУШ</h2>
        </div>
        <p class="footer__text logo-text">
          <span class="footer--another-color">Ц</span>ифрова
          <span class="footer--another-color">У</span>країнська
          <span class="footer--another-color">Ш</span>кола
        </p>
        <ul class="footer__list-contacts">
          <li class="footer__contacts">
            <a href="#" class="footer__contact footer__contact--phone"
              >+38 (067) 8 888 888</a
            >
          </li>
          <li class="footer__contacts footer__contact--email">
            <a href="#" class="footer__contact">info@cush.school</a>
          </li>
          <li class="footer__contacts footer__contact--site">
            <a href="#" class="footer__contact">www.yourwebsitename.com</a>
          </li>
        </ul>
      </div>
      <ul class="footer__sponsors">
        <li class="footer_sponsor sponsor">
          <a
            href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiypoXa__CHAxUzQ_EDHfsWDjgQFnoECAkQAQ&url=https%3A%2F%2Fgoiteens.com%2Fru%2F&usg=AOvVaw08y2EyNFqtElOIxi6Hswbb&opi=89978449"
            class="sponsor__link"
          >
            <div class="sponsor__photo">
              <img
                src="/src/images/footer/goiteens.svg"
                alt="GoIteens"
                class="GoIteens"
              />
            </div>
          </a>
        </li>
        <li class="footer_sponsor sponsor">
          <a
            href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwj5tPPJ__CHAxXjBNsEHaZROKQQFnoECAoQAQ&url=https%3A%2F%2Fwww.google.com.ua%2F%3Fhl%3Dru&usg=AOvVaw37OZsfDWWgGGd7_b--0caP&opi=89978449"
            class="sponsor__link"
          >
            <div class="sponsor__photo">
              <img
                src="/src/images/footer/google.svg"
                alt="Google"
                class="sponsor__svg"
              />
            </div>
          </a>
        </li>
        <li class="footer_sponsor sponsor">
          <a
            href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwi4rqmb__CHAxXvRPEDHc7-HUoQFnoECAkQAQ&url=https%3A%2F%2Fwww.microsoft.com%2Fuk-ua&usg=AOvVaw1jYCW588lQY6W-zFZgLVEB&opi=89978449"
            class="sponsor__link"
          >
            <div class="sponsor__photo">
              <img
                src="/src/images/footer/microsoft.svg"
                alt="Microsoft"
                class="sponsor__svg"
              />
            </div>
          </a>
        </li>
        <li class="footer_sponsor sponsor">
          <a
            href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwj-sa3x__CHAxWsBtsEHR1BCAYQFnoECBYQAQ&url=https%3A%2F%2Fuk.wordpress.org%2F&usg=AOvVaw011KldpqbxdGwlWyEq0cOJ&opi=89978449"
            class="sponsor__link"
          >
            <div class="sponsor__photo">
              <img
                src="/src/images/footer/wordpress.svg"
                alt="WordPress"
                class="sponsor__svg"
              />
            </div>
          </a>
        </li>
      </ul>
    </div>
    <form action="#" class="footer__form mailing" data-aos="fade-up">
      <h3 class="mailing__title">Підпишіться на розсилку</h3>
      <input
        type="email"
        id="mailing-email"
        name="email"
        class="mailing__input"
        placeholder="E-Mail"
      />
      <button type="button" class="mailing__btn">Підписатись</button>
      <p class="footer__agreement">
        *Натискаючи на цю кнопку ви приймаєте
        <span class="footer--another-color">політику конфіденційності</span> *
      </p>
    </form>
    <p class="footer__copyright">
      Copyright @2024 Ravel. Designed By
      <span class="footer--another-color">NUSH</span>
    </p>
  </div>
  <div class="scroll-to-top to-top">
    <a href="#header" class="to-top__button button" id="to-top">
      <svg class="to-top__svg">
        <use href="/src/images/icons.svg#icon-calendar"></use>
      </svg>
    </a>
  </div>
</footer>
