<header class="header">
  <div class="header__container container">
    <div class="header__logo header-logo">
      <a href="" class="header-logo__link">
        <img
          src="/src/images/header/cush-logo.svg"
          alt=""
          class="header-logo__image"
        />
      </a>
      <h2 class="header__logo-text">ЦУШ</h2>
    </div>
    <nav class="header__nav nav" data-menu>
      <div class="menu nav__list">
        <div class="nav__wrapper">
          <ul class="menu__list links">
            <li class="links__item">
              <a class="links__link" href="">Про нас</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#temperature">Викладачі</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Відгуки</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Контакти</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Співпраця</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Курси</a>
            </li>
          </ul>
        </div>
        <div class="nav-list__wrapper">
          <div class="log-in menu__login">
            <svg
              width="19"
              height="20"
              viewBox="0 0 19 20"
              xmlns="http://www.w3.org/2000/svg"
              class="log-in__svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.47266 5.04745C4.47266 7.92766 6.64538 10.2661 9.31811 10.2661C11.9908 10.2661 14.1636 7.92766 14.1636 5.04745C14.1636 2.25753 12.0817 0.144775 9.31811 0.144775C6.55447 0.144775 4.47266 2.25753 4.47266 5.04745ZM5.93629 5.05648C5.93629 3.05207 7.35447 1.59842 9.31811 1.59842C11.2454 1.59842 12.6999 3.07916 12.6999 5.05648C12.6999 7.14215 11.1817 8.83055 9.31811 8.83055C7.45447 8.83055 5.93629 7.13312 5.93629 5.05648ZM0 19.2851C0 19.6824 0.327273 20.0075 0.727273 20.0075H17.9091C18.3091 20.0075 18.6364 19.6824 18.6364 19.2851C18.6364 14.1568 15.3273 11.3307 9.31818 11.3307C3.30909 11.3307 0 14.1568 0 19.2851ZM17.1545 18.5538H1.49091C1.77273 14.7256 4.4 12.7753 9.31818 12.7753C14.2364 12.7753 16.8636 14.7165 17.1545 18.5538Z"
              />
            </svg>

            <button class="log-in__link" data-login-open>
              Особистий профіль
            </button>

            <div class="header__find find">
              <button class="log-in__link--find">
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="log-in__svg log-in__svg--find"
                >
                  <path
                    d="M19.7622 18.6372L15.5811 14.485C16.8514 12.969 17.6164 11.021 17.6164 8.90045C17.6164 4.07564 13.6651 0.151672 8.80681 0.151672C3.95025 0.151672 -0.000976562 4.07564 -0.000976562 8.89871C-0.000976562 13.7218 3.95025 17.6457 8.80681 17.6457C10.9438 17.6457 12.9037 16.886 14.4301 15.6245L18.6112 19.7767C18.7708 19.9353 18.9779 20.0137 19.1867 20.0137C19.3937 20.0137 19.6025 19.9353 19.7622 19.7767C20.0797 19.4631 20.0797 18.9526 19.7622 18.6372ZM1.62548 8.89871C1.62548 4.96603 4.84682 1.76691 8.80681 1.76691C12.7668 1.76691 15.9899 4.96603 15.9899 8.89871C15.9899 12.8314 12.7668 16.0323 8.80681 16.0323C4.84682 16.0323 1.62548 12.8314 1.62548 8.89871Z"
                    fill="#2C2C2C"
                  />
                </svg>
              </button>

              <div class="find__search-box search-box">
                <div class="search-box__row">
                  <input
                    type="text"
                    id="searchBoxInput"
                    placeholder="Знайдіть щось..."
                    autocomplete="off"
                    class="search-box__input"
                  />
                  <button class="search-box__find">Знайти</button>
                </div>

                <div class="search-box__result result">
                  <ul class="result__list">
                    <!-- Результати пошуку будуть тут -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <ul class="socialmedia menu__socialmedia">
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">
                <svg class="socialmedia__svg">
                  <use href="/src/images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">
                <svg class="socialmedia__svg">
                  <use href="/src/images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">
                <svg class="socialmedia__svg">
                  <use href="/src/images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">
                <svg class="socialmedia__svg">
                  <use href="/src/images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="nav__btn btn-menu" data-open_btn>
        <span class="btn-menu__icon"></span>
      </button>
    </nav>
  </div>
</header>
