<header class="header">
  <div class="header__container container">
    <div class="header__logo header-logo">
      <img src="#" alt="" class="header-logo__image" />
      <h2 class="header__logo-text"></h2>
    </div>
    <nav class="header__nav nav" data-menu>
      <div class="menu nav__list">
        <div class="nav__wrapper">
          <ul class="menu__list links">
            <li class="links__item">
              <a class="links__link" href="">Про нас</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#temperature">Викладачі</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Відгуки</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Контакти</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Співпраця</a>
            </li>
            <li class="links__item">
              <a class="links__link" href="#movie-library">Курси</a>
            </li>
          </ul>
        </div>
        <div class="nav__list-wrapper">
          <ul class="log-in menu__login">
            <li class="links__item links__item--login">
              <a class="links__link links__link--login" href=""
                >Особистий профіль</a
              >
            </li>
          </ul>
          <ul class="socialmedia menu__socialmedia">
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">YouTube</a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">Telegram</a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">Instagram</a>
            </li>
            <li class="socialmedia__item">
              <a class="nav__link menu__link" href="">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="nav__btn btn-menu" data-open_btn>
        <span class="btn-menu__icon"></span>
      </button>
    </nav>
  </div>
</header>
