<section class="hero">
  <div class="hero__container">
    <div class="hero__invitation">
      <h1 class="hero__title">Це час, щоб навчитись навчатись</h1>
      <button type="button">Запланувати перший урок</button>
    </div>
    <div class="hero__selection">
      <form action="" class="hero__form">
        <div class="form__course">
          <label for="course-selection">Курс</label>
          <select name="course-select" id="course-selection">
            <option value="math">Математика</option>
            <option value="chemistry">Хіміяя</option>
            <option value="english">Англійська мова</option>
            <option value="ukrainian">Українська Мова</option>
            <option value="history-of-ukraine">Історія України</option>
            <option value="geography">Географія</option>
            <option value="physics">Фізика</option>
            <option value="biology">Біологія</option>
            <option value="german">Німецька</option>
            <option value="ukrainian-literature">Українська література</option>
            <option value="psychology">Психологія</option>
            <option value="history">Історія</option>
          </select>
        </div>

        <div class="form__date">
          <input
            type="date"
            id="start"
            name="trip-start"
            value="2018-07-22"
            min="2024-01-01"
            max="2026-12-31"
          />
        </div>

        <button type="submit">Знайти курс</button>
      </form>
    </div>
  </div>
</section>
