<section class="start">
  <div class="start__container container">
    <h2 class="start__title title hidden" data-aos="flip-up">Як почати?</h2>
    <ul class="start__cards">
      <li class="start__card start__card--course" data-aos="fade-right">
        <h3 class="card__title">Виберіть курс</h3>
        <p class="card__description">
          Оберіть один або більше предметів які вас цікавлять та рівень
          складності
        </p>
      </li>

      <li class="start__card start__card--details">
        <h3 class="card__title">Ознайомтесь з деталями</h3>
        <p class="card__description">
          Ознайомтеся з розкладом, викладачами та ресурсами потрібного вам курсу
        </p>
      </li>

      <li class="start__card start__card--travel">
        <h3 class="card__title">Почніть вашу подорож</h3>
        <p class="card__description">
          Підготуйтесь та вирушіть у подорож долиною знань з нашими викладачами
        </p>
      </li>

      <li class="start__card start__card--enjoy" data-aos="fade-left">
        <h3 class="card__title">Насолоджуйтесь</h3>
        <p class="card__description">
          Відчуйте покращення ваших знань та компетентність в обраному предметі
          вже за 3-4 заняття
        </p>
      </li>
    </ul>
  </div>
</section>
