<section class="start">
  <div class="start__container container">
    <h2 class="start__title hidden">Як почати</h2>
    <ul class="start__cards">
      <li class="start__card">
        <img src="#" alt="" class="card__img" />
        <h3 class="card__title">Виберіть курс</h3>
        <p class="card__description">
          Lorem Ipsum is simply dummy text of the printing setting
        </p>
      </li>

      <li class="start__card">
        <img src="#" alt="" class="card__img" />
        <h3 class="card__title">Ознайомтесь з деталями</h3>
        <p class="card__description">
          Lorem Ipsum is simply dummy text of the printing setting
        </p>
      </li>

      <li class="start__card">
        <img src="#" alt="" class="card__img" />
        <h3 class="card__title">Почніть вашу подорож</h3>
        <p class="card__description">
          Lorem Ipsum is simply dummy text of the printing setting
        </p>
      </li>

      <li class="start__card">
        <img src="#" alt="" class="card__img" />
        <h3 class="card__title">Насолоджуйтесь</h3>
        <p class="card__description">
          Lorem Ipsum is simply dummy text of the printing setting
        </p>
      </li>
    </ul>
  </div>
</section>
