<section class="log-in hidden" data-login-menu>
  <div class="log-in__container container">
    <h2 class="log-in__title">увійти</h2>
    <form action="#" class="log-in__form login">
      <div class="login__inputs">
        <input
          type="email"
          placeholder="Пошта"
          class="login__input login__input--email"
        />
        <input
          type="password"
          placeholder="Пароль"
          class="login__input login__input--password"
        />
        <div class="login__forgot forgot">
          <p class="forgot__text">Забули пароль?</p>
        </div>
      </div>
      <button type="submit" class="login__button button">Увійти</button>

      <div class="log-in__register register">
        <p class="register__text">
          Немає облікового запису?
          <span class="register__text--active">Зареєструйтесь</span>
        </p>
      </div>
    </form>
    <p class="form__close" data-login-close>X</p>
  </div>
</section>
