<section class="reviews">
  <div class="reviews__container container">
    <ul class="reviews__people">
      <li class="reviews__person person">
        <div class="person__informetion">
          <p class="person__name">Марія Мільник</p>
          <span class="person__information">2 клас</span>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          багато інтерактиву. Тепер зі школою в нас лише добрі асоціації
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <p class="person__name">Іван Коваленко</p>
          <span class="person__information">11 клас</span>
        </div>
        <p class="person__text">
          Завдяки Їм отримав високий бал на ЗНО. Дякую вчителям за їх работу!
          Всім рекомендую.
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <p class="person__name">Олеся Карась</p>
          <span class="person__information">6 клас</span>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          завжди є багато інтерактиву. Тепер зі школою в нас лише добрі
          асоціації
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <p class="person__name">В`ячеслав Буряченко</p>
          <span class="person__information">9 клас</span>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          завжди є багато інтерактиву. Тепер зі школою в нас лише добрі
          асоціації
        </p>
      </li>
    </ul>
  </div>
</section>
