<section class="reviews">
  <div class="reviews__container container">
    <ul class="reviews__people">
      <li class="reviews__person person">
        <div class="person__informetion">
          <div class="person__photo">
            <img
              src="/src/images/reviews/0-02-05-12373dcc7feccb29fdbe4bbb5c078693de824140993f01862a2946c3fdc31523_dfca57ea7757da57 1.jpg"
              alt="Учень"
              class="person__img"
            />
          </div>
          <div class="person__inf">
            <p class="person__name">Марія Мільник</p>
            <span class="person__clas">2 клас</span>
          </div>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          багато інтерактиву. Тепер зі школою в нас лише добрі асоціації
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <div class="person__photo">
            <img
              src="/src/images/reviews/0-02-05-12373dcc7feccb29fdbe4bbb5c078693de824140993f01862a2946c3fdc31523_dfca57ea7757da57 1.jpg"
              alt="Учень"
              class="person__img"
            />
          </div>
          <div class="person__inf">
            <p class="person__name">Іван Коваленко</p>
            <span class="person__clas">11 клас</span>
          </div>
        </div>
        <p class="person__text">
          Завдяки Їм отримав високий бал на ЗНО. Дякую вчителям за їх работу!
          Всім рекомендую.
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <div class="person__photo">
            <img
              src="/src/images/reviews/0-02-05-12373dcc7feccb29fdbe4bbb5c078693de824140993f01862a2946c3fdc31523_dfca57ea7757da57 1.jpg"
              alt="Учень"
              class="person__img"
            />
          </div>
          <div class="person__inf">
            <p class="person__name">Олеся Карась</p>
            <span class="person__clas">6 клас</span>
          </div>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          завжди є багато інтерактиву. Тепер зі школою в нас лише добрі
          асоціації
        </p>
      </li>
      <li class="reviews__person person">
        <div class="person__informetion">
          <div class="person__photo">
            <img
              src="/src/images/reviews/0-02-05-12373dcc7feccb29fdbe4bbb5c078693de824140993f01862a2946c3fdc31523_dfca57ea7757da57 1.jpg"
              alt="Учень"
              class="person__img"
            />
          </div>
          <div class="person__inf">
            <p class="person__name">В`ячеслав Буряченко</p>
            <span class="person__clas">9 клас</span>
          </div>
        </div>
        <p class="person__text">
          Найкраща школа! Вчителі добрі і завжди допомагають. Предмети цікаві і
          завжди є багато інтерактиву. Тепер зі школою в нас лише добрі
          асоціації
        </p>
      </li>
    </ul>
  </div>
</section>
