<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title title" data-aos="flip-up">Відгуки</h2>
    <ul class="reviews__people">
      <li class="reviews__person person" data-aos="flip-up">
        <p class="person__text">
          Школа крута! Вчителі зрозуміло пояснюють матеріал в ігровій формі.
          Тепер вивчати фізику стало легко!
        </p>
        <div class="person__information">
          <div class="person__avatar">
            <img
              src="/src/images/reviews/ivan_bachko.jpg"
              alt="person"
              class="person__img"
            />
          </div>
          <div class="person__description">
            <p class="person__name">Іван Башко</p>
            <span class="person__class">6 клас</span>
          </div>
        </div>
      </li>
      <li class="reviews__person person" data-aos="flip-up">
        <p class="person__text">
          Нарешті я зрозуміла німецьку!!! В звичайній школі я не могла зрозуміти
          ні слова. Danke, Olena Mykhailivna
        </p>
        <div class="person__information">
          <div class="person__avatar">
            <img
              src="/src/images/reviews/elsa_pitkevich.jpg"
              alt="person"
              class="person__img"
            />
          </div>
          <div class="person__description">
            <p class="person__name">Єльза Петкевич</p>
            <span class="person__class">10 клас</span>
          </div>
        </div>
      </li>
      <li class="reviews__person person" data-aos="flip-up">
        <p class="person__text">
          Найкраща школа Відзивчіві вчителі, цікава програма. Матеріали подають
          просто і зрозуміло
        </p>
        <div class="person__information">
          <div class="person__avatar">
            <img
              src="/src/images/reviews/hamster_ksenia.jpg"
              alt="person"
              class="person__img"
            />
          </div>
          <div class="person__description">
            <p class="person__name">Хомяк Ксенія</p>
            <span class="person__class">3 клас</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
