<section class="teachers">
  <div class="teachers__container container">
    <h2 class="teachers__title">Наші Викладачі</h2>

    <ul class="teachers__cards">
      <li class="teachers__card teacher">
        <div class="teacher__photo">
          <img
            src="/src/images/teachers/Ivan_Mykolayovych.png"
            alt=""
            class="teacher__img"
          />
        </div>
        <h3 class="teacher__name">Іван Миколайович</h3>
        <p class="teacher__job">Українська мова | Математика</p>
      </li>

      <li class="teachers__card teacher">
        <div class="teacher__photo">
          <img
            src="/src/images/teachers/Olena_Mykhailivna.png"
            alt=""
            class="teacher__img"
          />
        </div>
        <h3 class="teacher__name">Олена Михайлівна</h3>
        <p class="teacher__job">Англійська мова | Німецька мова</p>
      </li>

      <li class="teachers__card teacher">
        <div class="teacher__photo">
          <img
            src="/src/images/teachers/Vasyl_Vasyliovych.png"
            alt=""
            class="teacher__img"
          />
        </div>
        <h3 class="teacher__name">Василь Васильович</h3>
        <p class="teacher__job">Хімія | Фізика</p>
      </li>

      <li class="teachers__card teacher">
        <div class="teacher__photo">
          <img
            src="/src/images/teachers/Iryna_Oleksandrivna.png"
            alt=""
            class="teacher__img"
          />
        </div>
        <h3 class="teacher__name">Ірина Олександрівна</h3>
        <p class="teacher__job">Психологія | Українська Література</p>
      </li>
    </ul>
  </div>
</section>
