<section class="teachers">
  <div class="teachers__container container">
    <h2 class="teachers__title">Наші Викладачі</h2>

    <ul class="teachers__cards">
      <li class="teachers__card teacher">
        <img src="#" alt="" class="teacher__img" />
        <h3 class="teacher__name">Іван Миколайович</h3>
        <p class="teacher__job">Українська мова | Математика</p>
      </li>

      <li class="teachers__card teacher">
        <img src="#" alt="" class="teacher__img" />
        <h3 class="teacher__name">Олена Михайлівна</h3>
        <p class="teacher__job">Англійська мова | Німецька мова</p>
      </li>

      <li class="teachers__card teacher">
        <img src="#" alt="" class="teacher__img" />
        <h3 class="teacher__name">Василь Васильович</h3>
        <p class="teacher__job">Хімія | Фізика</p>
      </li>

      <li class="teachers__card teacher">
        <img src="#" alt="" class="teacher__img" />
        <h3 class="teacher__name">Ірина Олександрівна</h3>
        <p class="teacher__job">Зарубіжна / Українська Література</p>
      </li>
    </ul>
  </div>
</section>
