.advantages {
  &__container {
    padding-inline: 15px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  &__title {
    margin-bottom: 20px;
    max-width: 468px;
    line-height: calc(33px/24px);
  }
  &--another-color {
    color: $colorTextActive;
  }

}
.advantage {
  display: flex;
  flex-direction: column;
  gap: 33px;
  &__information {
    display: flex;
    align-items: center;
  
    gap: 35px;
    &::before {
      content: '';
      display: flex;
      background-size: cover;
      width: 100%;
      max-width: 50px;
      background-repeat: no-repeat;
      height: 50px;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19px/16px);
    max-width: 386px;
  }
  &__information--padding {
    padding-top: 33px;
    border-top: solid 1px $colorTextSecondary;
  }
}

.advantage--user::before {
  background-image: url(/src/images/advantages/people-box.svg);
}

.advantage--globe::before {
  background-image: url(/src/images/advantages/earth-box.svg);
}

.advantage--headphones::before {
  background-image: url(/src/images/advantages/heardphones-box.svg);
}
@media (min-width: 576px) {
  .advantages {
    &__container {
      padding-inline: 25px;
      margin-bottom: 60px;
      gap: 60px;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 30px;
      max-width: 473px;
      line-height: calc(44px/32px);
    }
  }
  .advantage {
    gap: 20px;
    &__information {
      gap: 35px;
    }
    &__text {
      font-size: 18px;
      max-width: 400px;
      line-height: calc(22px/16px);
    }
    &__information--padding {
      padding-top: 20px;
    }
  }
}
@media (min-width: 768px) {
  .advantages {
    &__container {
      padding-inline: 35px;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 35px;
      max-width: 600px;
      line-height: calc(44px/32px);
    }
  }
  .advantage {
    gap: 25px;
    &__information {
      gap: 30px;
      &::before {
        height: 50px;
        width: 50px;
      }
    }
    &__text {
      font-size: 20px;
      max-width: 600px;
      line-height: calc(27px/20px);
    }
    &__information--padding {
      padding-top: 25px;
    }
  }
}
@media (min-width: 1240px) {
  .advantages {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      padding-inline: 75px;
      margin-bottom: 60px;
    }
    &__photo {
      max-width: 444px;
    }
    &__title {
      font-weight: 800;
      font-size: 36px;
      line-height: calc(49px/36px);
      margin-bottom: 35px;
      text-align: left;
      max-width: 538px;
    }
  }
  .advantage {
    gap: 35px;
    &__information {
      gap: 30px;
    }
    &__text {
      font-size: 24px;
      max-width: 482px;
      line-height: calc(33px/24px);
    }
    &__information--padding {
      padding-top: 35px;
    }
  }
}
@media (min-width: 1920px) {
  .advantages {
    &__container {
      padding: 0px;
      margin-bottom: 60px;
    }
    &__photo {
      max-width: 770px;
    }
    &__title {
      font-size: 48px;
      max-width: 690px;
      margin-bottom: 70px;
      line-height: calc(33px/44px);
    }
  }
  .advantage {
    gap: 35px;
    &__information {
      gap: 40px;
      &::before {
        height: 50px;
        width: 50px;
      }
    }
    &__text {
      font-size: 24px;
      max-width: 600px;
      line-height: calc(33px/24px);
    }
    &__information--padding {
      padding-top: 35px;
    }
  }
}
